:root{
    --azul-ecuro: #102250;
    --azul: #2a4884;
    --amarelo: #dec590;
    --branco: #f5f0ea;
    --off-white: #f5f0ea;
    --cor-textos: #dde3f3;

}

body{
    background-image: url("../images/e.png");
    background-size: cover;
      margin: 0;
  padding: 0;
}

.quem-sou {
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 45vw;
    margin-top: 4vw;
}
.sobre{
 display: flex;
}

.foto-perfil {
  width: 25vw;
  height: 25vw;
  border-radius: 100%;
}

.div-foto { 
margin-top: 5vw;
margin-left: 15vw;
}

.descricao {
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    margin-left: 1vw;
}

.div-descricao {

    width: 50vw;
    height: auto;
    margin-left: 5vw;

    margin-top: 3vw;
  
   
}

.secao-habilidades {
     display: flex;
    width: fit-content; 
    text-align: center; 
    margin-left: 5vw; 
    margin-top: 10vw;
    color: white;
    font-family: 'Lucida Sans', sans-serif;
}

.minhas, .habi {
       font-size: 2rem;
    margin: 0;
    line-height: 1.2;
}

.aba-habilidades {
    height: 20vw;
    width: 50vw;
    margin-top: 0.5vw;
    margin-left: 14vw;
}

.titulo-apresentacao {
    color: aliceblue;
    font-family: system-ui, -apple-system, sans-serif;
    font-size: 4rem;    
    font-weight: 900;       
    line-height: 1.2;        
}

.destaque {
    color: #b8f6ff; 
}

.texto-sobre {
    color: var(--cor-textos);      
    font-family: system-ui, sans-serif;
    font-size: 1.1rem;    
    line-height: 1.6;   
    max-width: 40vw;
    margin-top: 1.5rem; 
}