:root{
    --azul-ecuro: #102250;
    --azul: #2a4884;
    --amarelo: #dec590;
    --branco: #f5f0ea;
    --off-white: #f5f0ea;
    --cor-textos: #dde3f3;

}

body{
    background-image: url("../images/b.png");
    background-size: cover;
      margin: 0;
  padding: 0;
}

.quem-sou {
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 45vw;
    margin-top: 4vw;
}
.sobre{
 display: flex;
}

.foto-perfil {
  width: 25vw;
  height: 25vw;
  border-radius: 100%;
}

.div-foto { 
margin-top: 5vw;
margin-left: 15vw;
}

.descricao {
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    margin-left: 1vw;
}

.div-descricao {
    width: 50vw;
    height: auto;
    margin-left: 5vw;
    margin-top: 3vw;
}

.secao-habilidades {
  
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 100%;        
    margin-left: 0;    
    margin-top: 10rem;   
    color: white;
}

.minhas {
    font-size: 2rem;
    margin: 0;
    line-height: 1.2;
    margin-bottom: 2vw;
    font-family: system-ui, -apple-system, sans-serif;
}

.titulo-apresentacao {
    color: var(--cor-textos);
    font-family: system-ui, -apple-system, sans-serif;
    font-size: 4rem;    
    font-weight: 900;       
    line-height: 1.2;        
}

.destaque {
    color: #b8f6ff; 
}

.texto-sobre {
    color: var(--cor-textos);      
    font-family: system-ui, sans-serif;
    font-size: 1.1rem;    
    line-height: 1.6;   
    max-width: 40vw;
    margin-top: 1.5rem; 
}

.aba-habilidades {
    display: flex;
    justify-content: center; 
    gap: 4vw;               
    width: 100%;             
}

.card-habilidade {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: auto;       
}

.sessao-habilidades{
    width: auto;
}

.card-habilidade h3 {
    white-space: nowrap;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 800;
    font-family: system-ui, sans-serif;
}

.box {
    display: flex;
    flex-wrap: wrap;         
    justify-content: center; 
    align-content: center;  
    gap: 1.5rem;          
    height: 25vw;
    width: 25vw;
    background-color: rgba(174, 193, 224, 0.286);   
    border-radius: 10%;
    padding: 1.5rem;      
    border: 1px solid rgb(255, 255, 255); 
    box-shadow: 0px 0px 20px rgba(202, 214, 235, 0.8); 
}


.item-skill {
    display: flex;
    flex-direction: column; 
    align-items: center;  
}


.icone-linguagem {
    width: 6vw;    
    height: auto;  
}

.nome-linguagem {
    color: white;
    font-family: system-ui, sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    margin-top: 5px; 
    margin-bottom: 0;
}